*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;
    perspective:1000px;
    transform-style: preserve-3d;
    overflow:hidden;
}


.calci{
    position:absolute;
    width:250px;
    height:390px;
    border:4px outset red;
    transform:translate3d(0,0,-100px);
    
    border-radius:20px;
    box-shadow:5px 5px 40px white,
               -5px 5px 40px white,
               5px -5px 40px white,
               -5px -5px 40px white;
     
     animation: jumpIn 1s linear, glow 2s linear infinite;
        
}

h3{
    position:absolute;
    top:10px;
    left:20px;
    color:white;
    padding:5px;
}

#display{
    position:absolute;
    top:60px;
    left:20px;
    width:200px;
    height:50px;
    font-weight: bold;
    border:2px inset black;
    border-radius:20px;
    text-align:right;
    padding:10px;
    background-image:linear-gradient(to right, #D0ECE7 40%, #AED6F1 70%);
    
}

.dialPad{
    position:absolute;
    top:120px;
    left:10px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-direction:column;
    width:225px;
    height: 250px;
    border:2px solid black;
    border-radius:20px;
    text-align:center;
    padding:2px 0px 2px 0px;
}

.btn{
    margin:2px;
    width:40px;
    height:40px;
    font-size:1.2em;
    font-weight: bold;
    border-radius:5px;
    border:1px solid black;
    background-image:linear-gradient(to right, #2C3E50, white);
}

.delClear{
    width:88px;
}

@keyframes jumpIn{
    0%{
        transform:translate3d(0,0,-10000px) rotateZ(360deg);
    }
    
    100%{
        transform:translate3d(0,0,0) rotateZ(0deg);
    }
}

@keyframes glow{
    0%{
        box-shadow:5px 5px 100px white,
               -5px 5px 100px white,
               5px -5px 100px white,
               -5px -5px 100px white;
    }
    50%{
        box-shadow:5px 5px 10px white,
               -5px 5px 10px white,
               5px -5px 10px white,
               -5px -5px 10px white;
    }
    100%{
        box-shadow:5px 5px 100px white,
               -5px 5px 100px white,
               5px -5px 100px white,
               -5px -5px 100px white;
    }
}